.app {
    display:flex;
    flex-direction: column;
    margin: 0px;
    min-width:800px;
}

.header {
    background-color: #06559e;
    color:white;
    font-size:3em;
    height: 10vh;
    flex-shrink:0;
    padding:.5em;
    border-width:1px;
    border-style:solid;
}

.left-panel {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#0a70ac;
    color:white; 
    width:30%;
    overflow:auto;
    border-width:1px;
    border-style:solid;
    font-size:1.25em;
    padding:1em;
}

.right-panel {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color:grey;
    flex-grow:1;
    overflow:auto;
    padding:1em;
}

.main-body {
    display:flex;
    height:90vh;
}

.results {
    display:flex;
    flex-direction: row;
    width:100%;
}

#query-results {
    margin-right:1em;
}

#csv-results {
    margin-left:1em;
}

.sql-diff{
    background-color:white;
    padding:1em;
    width:100%;
    color:black;
    border-width:1px;
    border-style:solid;
    border-color:black;
    height:100%;
}



.form-group {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    background-color: white;
    color:#007fe6;
    border-radius: 2em;
    overflow:hidden;
}

.form-group > * {
    margin-bottom:3em;
}

.table {
    min-height:500px;
    min-width:500px;
    overflow:auto;
    background-color:#cfcfcf;
    padding:1em;
}